/* =============================================================

	Houdini v6.0
	A simple collapse and expand widget by Chris Ferdinandi.
	http://gomakethings.com

	Free to use under the MIT License.
	http://gomakethings.com/mit/

 * ============================================================= */

/*  Hide the collapse and expand link or button by default */
.collapse-toggle {
	display: none;
	visibility: hidden;
}

/*  If JavaScript is enabled, show the collapse and expand link or button */
.js-houdini .collapse-toggle {
	display: inline;
	visibility: visible;
	cursor: pointer;
}

/*  When expanded, hide "show" text.
 *  When collapsed, hide "hide" text. */
.active .collapse-text-show,
.collapse-text-hide {
	display: none;
	visibility: hidden;
}

/*  When expanded, show "hide" text. */
.active .collapse-text-hide {
	display: inline;
	visibility: visible;
}

/* If JavaScript is enabled, hide the collapsed element */
.js-houdini .collapse {
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	/*  Add animation when content expands and collapses */
	@include prefixer(transition, opacity 0.35s ease, webkit moz ms o spec);
}

/*  When collapsed element has the .active class, show it
 *  Uses max-height instead of display: none to allow for
 *  CSS3 animations, which don't work on display values. */
.js-houdini .collapse.active {
	max-height: 9999em;
	opacity: 1;
}