/**
 * Collapse toggle
 */
.collapse-toggle {
	display: none;
	visibility: hidden;

	.js-houdini & {
		cursor: pointer;
		display: inline-block;
		visibility: visible;
	}
}


/**
 * Show/hide text
 */
.active .collapse-text-show,
.collapse-text-hide {
	display: none;
	visibility: hidden;
}

.active .collapse-text-hide {
	display: inline-block;
	visibility: visible;
}


/**
 * The content
 */
.js-houdini .collapse {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

	&.active {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}

	&:focus {
		outline: none;
	}
}