/**
 * Collapse toggle
 */
.collapse-toggle {
	display: none;
	visibility: hidden;

	.js-houdini & {
		cursor: pointer;
		display: inline-block;
		visibility: visible;
	}
}


/**
 * Show/hide text
 */
.active .collapse-text-show,
.collapse-text-hide {
	display: none;
	visibility: hidden;
}

.active .collapse-text-hide {
	display: inline-block;
	visibility: visible;
}


/**
 * The content
 */
.js-houdini .collapse {
	@extend .screen-reader;

	&.active {
		@extend .screen-reader-focusable:active
	}

	&:focus {
		outline: none;
	}
}